# ignore personal notes folder
notes/

# ignore any video files
*.mp4
*.mkv
*.avi
*.mov
*.mpg
*.mpeg
*.wmv
*.webm
*.flv
*.m4v
*.ogv
*.3gp
*.3g2
*.ts
*.mts
*.m2ts
*.rmvb
*.vob

# ignore build directory
build/
build-ninja/

#ignore test env
test_env/

# ignore the model file
*.onnx
*.pt

# ignore .vscode folder
.vscode/

# ignore the folder for testing
scratch/

.claude/

# the docs are currently (WIP)
docs/


